snippet c-comment "comment" b
"=============================================================================
" Plugin UltiSnips
"=============================================================================
endsnippet
